# Project exclude paths
/target/

# IntelliJ IDEA modules and interim config files.
*.iml
.idea/libraries
.idea/shelf
.idea/*.xml
.idea/.name

# Do not ignore code style settings.
!/.idea/codeStyleSettings.xml

# Gradle interim configs
.gradle/

# Maven deployment build directory
/core-java/target

# Generated source code
generated/

# Gradle build files
build/

# IDEA build files
out/

# Credentials to Maven repositories and Google Cloud Storage used for Travis build reports
credentials.tar
credentials.properties
cloudrepo.properties
deploy_key_rsa
gcs-auth-key.json
